/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2019, 8:42:48 AM
    Author     : maiko
*/


.input-group-text {
    display: table-cell;
    border: 1px solid #cccc;
    padding: 4px;
    padding-left: 10px;
    padding-right: 5px;
}

.input-group-with-text {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
    height: 100%;
}